.vfrc-widget--chat {
  font-family: "Arial", sans-serif; 
}

.vfrc-widget > .vfrc-widget--launcher,
.vfrc-widget > .vfrc-widget--chat {
  position: inherit !important;
}

.vfrc-widget--chat {
  width: 400px !important;
  max-height: 704px !important;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(192,255,113,1);
-moz-box-shadow: 0px 0px 18px 0px rgba(192,255,113,1);
box-shadow: 0px 0px 18px 0px rgba(192,255,113,1);
  transition: border 0.25s ease-in, box-shadow 0.25s ease-in !important;
  backdrop-filter: blur(20px) saturate(120%) !important;
  -webkit-backdrop-filter: blur(20px) saturate(120%) !important; 
  border-radius: 10px !important;
  border: 1px solid rgba(117, 117, 117, 0.38) !important;
  position: fixed;
  z-index: 1 !important;
}

.vfrc-chat {
  background-color: rgba(95, 95, 95, 0.07) !important;
}

.vfrc-assistant-info--title {
  display: none !important;
}

.vf-chat,
.vfrc-header {
  background-color: #5525f1 !important;
}

.vfrc-header {
  border-bottom: 1px dashed rgba(117, 117, 117, 0.38) !important;
}

.vfrc-header .vfrc-avatar {
  display: none !important;
}

.vfrc-proactive-message {
  color: rgb(0, 0, 0) !important;
  border-radius: 12px !important;
}

.vfrc-proactive-message {
  border: 1px solid rgb(85, 37, 241) !important;
  backdrop-filter: blur(38px) saturate(179%) !important;
  background-color: rgb(255, 255, 255) !important;
}

.vfrc-system-response--actions {
  display: block !important;
}

.vfrc-button--secondary {
  border: 1px solid #ffffff !important;
  color: rgba(255, 255, 255, 0.88) !important;
  background-color: #5525f1 !important;
  box-shadow: 0 1px 2px var(--shadows-shadow2) !important;
  transition: border-color 150ms ease 0s !important;
}

.vfrc-button--secondary:hover {
  border-color: #000000 !important;
}

.vfrc-prompt,
.vfrc-footer {
  background-color: rgb(255, 255, 255) !important;
  color: #5525f1 !important;
  border-top: solid 1px !important;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
}

::-webkit-scrollbar {
  border-left: 1px solid rgba(0, 0, 0, 0) !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(50, 65, 93, 0.54) !important;
  border-radius: 3px !important;
  border: 1px solid rgba(255, 255, 255, 0.24) !important;
}

.vfrc-chat-input textarea,
.vfrc-chat-input--button {
  background-color: #ffffff !important;
  color: #ffffff !important;
  background-color: #ffffff !important;
  color: #000000 !important;
  border: none !important;
}

.vfrc-bubble {
  color: white !important;
  background-color: black !important;
  border: 1px solid rgba(255, 255, 255, 0.24) !important;
}

/*
.vfrc-bubble {
  color: rgba(255, 255, 255, 0.4) !important;
  background-color: rgba(0, 0, 0, 0) !important;
  border: 1px solid rgba(255, 255, 255, 0.24) !important;
}*/

.vfrc-bubble:hover {
  border-color: #9ea1a5 !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.vfrc-chat--dialog {
  background-color: #ffffff !important;
  color: #000000 !important;
}

.vfrc-chat--session-time {
  display: none !important;
}

.vfrc-message--chat {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.vfrc-input--chat {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

@media (max-width: 768px) {
  .vfrc-widget--chat {
    width: unset !important;
    max-height: unset !important;
    inset: 0 !important;
  }
}

@media (max-width: 500px) {
  .vfrc-message {
    max-width: 350px !important;
  }

  .vfrc-avatar {
    display: none !important;
  }

  .vfrc-system-response--actions {
    padding-left: 20px !important;
  }
}
